<footer class="site-footer h-card">
  <data class="u-url" value="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col">
        <p class="feed-subscribe">
          <a href="{{ site.feed.path | default: 'feed.xml' | absolute_url }}" target="_blank" title="Subscribe to syndication feed">
            <svg class="svg-icon orange" viewbox="0 0 16 16">
              {% include social-icons/rss.svg.path %}
            </svg>
          <span>{{ site.title }}</span></a>
        </p>
      </div>
      <div class="footer-col">
        <div class="social-links">
          {%- include social.html -%}
        </div>
      </div>
      <div class="footer-col">
        <p class="footer-col-desc">
          <a href="https://xn--sr8hvo.ws/previous">←</a>
          <a href="https://xn--sr8hvo.ws">🕸💍</a>
          <a href="https://xn--sr8hvo.ws/next">→</a>
        </p>
      </div>
    </div>
  </div>

</footer>
