<!--
👋 Hey there, thanks for peeking!

Please don't judge me, chances are this has been hacked together and never
touched again :)

If you find a bug or would like to get in touch, you can reach me at 

  {{ site.author.email }}

The source code is also available here:

  https://github.com/aldur/aldur.github.io
-->

<header class="site-header">

  <div class="site-header-wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    <div class="right-header-wrapper">
      {%- if titles_size > 0 -%}
      <nav class="site-nav">
        <input type="checkbox" id="nav-trigger" class="nav-trigger" />
        <label for="nav-trigger">
          <span class="menu-icon">
            <svg viewBox="0 0 18 15" width="18px" height="15px">
              <path d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.032C17.335,0,18,0.665,18,1.484L18,1.484z M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.032C17.335,6.031,18,6.696,18,7.516L18,7.516z M18,13.516C18,14.335,17.335,15,16.516,15H1.484 C0.665,15,0,14.335,0,13.516l0,0c0-0.82,0.665-1.483,1.484-1.483h15.032C17.335,12.031,18,12.695,18,13.516L18,13.516z"/>
            </svg>
          </span>
        </label>

        <div class="trigger">
          {%- for path in page_paths -%}
          {%- assign my_page = site.pages | where: "path", path | first -%}
          {%- if my_page.title -%}
          {%- unless my_page.hide -%}
          <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
          {%- endunless -%}
          {%- endif -%}
          {%- endfor -%}
        </div>
      </nav>
      {%- endif -%}

      <button type="button" class="theme-mode-button" onclick="setSkin()">
        <svg class="svg-icon" id="skin-icon"
          role="img"
          focusable="false">
          <use id="use-skin-icon" xlink:href="{{ '/assets/skin-icons.svg#sun' | relative_url }}"></use>
        </svg>
        <span class="visually-hidden">Toggle dark mode</span>
      </button>
    </div>
  </div>
</header>

<script>
  // NOTE: Inlined to prevent flicker on page load.
  const SKIN_NAME_KEY = 'skinName';

  const Skins = {
    Default: 'follows-system',
    Light: 'light',
    Dark: 'dark',
  };

  const Icons = {
    Light: 'sun',
    Dark: 'moon',
  };

  function toggleSkinFrom(currentSkin) {
    switch (currentSkin) {
      case Skins.Default: // default, auto
        {
          if (currentSkin == Skins.Default) {
            if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
              return Skins.Light;
            }

            return Skins.Dark;
          }
        }
        break;
      case Skins.Light:
        return Skins.Dark;
      case Skins.Dark:
        return Skins.Light;
      default:
        console.error(`Unexpected skin ${currentSkin}.`);
    }
  }

  function iconForSkin(currentSkin) {
    let toggledSkin = toggleSkinFrom(currentSkin);
    console.assert(toggledSkin != Skins.Default, "Didn't expect default skin.");

    switch (toggledSkin) {
      case Skins.Light:
        return Icons.Light;
      case Skins.Dark:
        return Icons.Dark;
      default:
        console.error(`Unexpected skin ${toggledSkin}.`);
    }
  }

  function applySkin(skin) {
    // https://stackoverflow.com/questions/56300132/
    // how-to-override-css-prefers-color-scheme-setting
    for (var s = 0; s < document.styleSheets.length; s++) {
      for (var i = 0; i < document.styleSheets[s].cssRules.length; i++) {
        rule = document.styleSheets[s].cssRules[i];

        if (rule && rule.media && rule.media.mediaText.includes('prefers-color-scheme')) {
          switch (skin) {
            case Skins.Light:
              rule.media.appendMedium('original-prefers-color-scheme');
              if (rule.media.mediaText.includes('light')) {
                rule.media.deleteMedium('(prefers-color-scheme: light)');
              }
              if (rule.media.mediaText.includes('dark')) {
                rule.media.deleteMedium('(prefers-color-scheme: dark)');
              }
              break;
            case Skins.Dark:
              // Our CSS only inlcudes `prefers-color-scheme: dark.
              // So, by adding `prefers-color-scheme: light`
              // we enable it at all times.
              rule.media.appendMedium('(prefers-color-scheme: light)');

              // This is a fix wrt the provided implementation.
              if (!rule.media.mediaText.includes('dark')) {
                rule.media.appendMedium('(prefers-color-scheme: dark)');
              }
              if (rule.media.mediaText.includes('original')) {
                rule.media.deleteMedium('original-prefers-color-scheme');
              }
              break;
            default:
              console.error(`Unexpected skin ${skin}.`);
          }
        }
      }
    }
  }

  function setSkin(targetSkin) {
    let currentSkin = localStorage.getItem(SKIN_NAME_KEY);
    if (currentSkin === null) {
      currentSkin = Skins.Default;
    }

    if (targetSkin === undefined) {
      targetSkin = toggleSkinFrom(currentSkin);
    }
    localStorage.setItem(SKIN_NAME_KEY, targetSkin);

    setIcon(targetSkin);
    applySkin(targetSkin);
  }

  function setIcon(targetSkin) {
    let iconTag = document.getElementById('use-skin-icon');
    let iconRef = iconTag.getAttribute('xlink:href');
    let currentIcon = iconRef.split('#')[1];
    iconTag.setAttribute('xlink:href', iconRef.replace(currentIcon, iconForSkin(targetSkin)));
  }

  function migrateSkinName() {
    let savedSkin = localStorage.getItem(SKIN_NAME_KEY);
    switch (savedSkin) {
      // -- before 1f93c2
      case 'classic.css':
        localStorage.setItem(SKIN_NAME_KEY, Skins.Light);
        break;
      case 'dark.css':
        localStorage.setItem(SKIN_NAME_KEY, Skins.Dark);
        break;
      // -- /before 1f93c2
      case Skins.Dark:
      case Skins.Light:
        break; // all good!
      case undefined: // 1f93c2
      case 'undefined': // 1f93c2
      default: // sorry, skin reset
        localStorage.removeItem(SKIN_NAME_KEY);
    }
  }

  function loadSkin() {
    migrateSkinName();

    let savedSkin = localStorage.getItem(SKIN_NAME_KEY);
    if (savedSkin !== null) {
      setSkin(savedSkin); // Also takes care of the icon.
    } else {
      setIcon(Skins.Default);
    }
  }

  window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', (_) => {
    if (localStorage.getItem(SKIN_NAME_KEY) === null) {
      setIcon(Skins.Default);
    }
  });

  // Listen for local storage changes on our theme key. This lets
  // one tab to be notified if the theme is changed in another,
  // and update itself accordingly.
  // https://brandur.org/fragments/dark-mode-notes
  window.addEventListener("storage", (e) => {
      if (e.key == SKIN_NAME_KEY) {
        loadSkin()
      }
  })

  loadSkin();
</script>

