{%- if include.posts.size > 0 -%}
  <ul class="post-list">
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    {% assign postsByYear = include.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
    {% for year in postsByYear %}
      <h2>{{ year.name }}</h2>
      {% for post in year.items %}
        <li>
          <span class="post-meta">
            {{ post.date | date: date_format }}
            {% if post.modified_date %}
              ~ ✎ {{ post.modified_date | date_to_xmlschema | date: date_format }}
            {% endif %}
          </span>
          <h3 class="post-link">
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          {%- if site.minima.show_excerpts -%}
            {%- assign collection = site.collections | where: "label", post.collection | first -%}
            {%- assign collection_show_excerpts = collection.show_excerpts | default: true -%}
            {%- if collection_show_excerpts and post.show_excerpt != false -%}
              {{ post.excerpt }}
            {%- endif -%}
          {%- endif -%}
        </li>
      {% endfor %}
    {% endfor %}
  </ul>
{%- endif -%}
