{% comment %}
  Extend `minima`'s `social.html` to add:

  1. Email (which requires a different fontawesome pack and re-uses config)
  2. Additional microformats.

  In addition, minima has started using fontawesome, but we don't want to pull
  it in its entirety, because it is heavy!

  So, we have just downloaded it, extract the SVG paths and put them in the _include/
  folder. We use the `path` instead of the full SVG so that we can easily add a class 
  to it.
{% endcomment %}
{%- if site.about.short %}
  <data class="p-note" hidden value="{{ site.about.short | escape }}"></data>
{%- endif %}
{%- if site.author and site.author.nick %}
  <data class="p-nickname" hidden value="{{ site.author.nick | escape }}"></data>
{%- endif %}
{%- if site.author and site.author.name %}
  <data class="p-name" hidden value="{{ site.author.name | escape }}"></data>
{%- endif %}
{%- if site.author and site.author.pgp_pk_url %}
  <data class="u-key" hidden value="{{ site.author.pgp_pk_url }}"></data>
{%- endif %}
<data class="u-photo u-logo" hidden value="/assets/images/favicon.svg"></data>
<ul class="social-media-list">
  {%- if site.author and site.author.email %}
    <!-- Make the email available without `mailto:` -->
    <data class="u-email" rel="me" hidden value="{{ site.author.email }}"></data>
    <li>
      <a href="mailto:{{ site.author.email }}" target="_blank" title="email">
         <svg class="svg-icon grey" viewBox="0 0 512 512">
           {% include social-icons/at.svg.path %}
         </svg>
      </a>
    </li>
  {%- endif %}
  {%- for entry in site.minima.social_links -%}
    <li>
      <a class="u-url" rel="me" href="{{ entry.url }}" target="_blank" title="{{ entry.title }}">
        <!-- ! Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2024 Fonticons, Inc. -->
         <svg class="svg-icon grey" viewBox="0 0 512 512">
           {% include social-icons/{{ entry.icon }}.svg.path %}
         </svg>
      </a>
    </li>
  {%- endfor -%}
</ul>
