@use 'minima/syntax_highlight';
@use 'sass:math';

/**
 * Make post links in home more compact
 */
.post-link {
  margin-bottom: math.div($spacing-unit, 4);
}

img.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (prefers-color-scheme: dark) {
  img.centered.inverted {
    filter: invert(1);
  }
}

.video-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.responsive-video {
  width: 95%;
}

.video-caption {
  text-align: center;
  margin-top: 0px;
  width: 95%;
}

.seventyfive {
  max-width: 75%;
}

.text-align-center {
  text-align: center;
}

/** --- Site header --- */
.site-header {
  border-top: none;
}

.site-header-wrapper {
  display: flex;
}

@media screen and (max-width: $on-tiny) {
  .site-header-wrapper {
    flex-direction: column;
  }

  .site-header {
    line-height: normal;
  }

  .site-title {
    padding-top: math.div($spacing-unit, 2);
  }

  .right-header-wrapper {
    padding-bottom: math.div($spacing-unit, 2);
  }
}

.right-header-wrapper {
  margin-left: auto;
  margin-right: $spacing-unit;
  display: flex;
  align-items: center;
  gap: math.div($spacing-unit, 2);
}

.site-title {
  float: none;
  padding-left: $spacing-unit;
  padding-right: math.div($spacing-unit, 2);
  white-space: nowrap;
}

.theme-mode-button {
  background-color: $background-color;
  border: 0px;
  color: $text-color;
  padding: 0 0;
}

.theme-mode-button svg {
  width: 24px;
  height: 24px;
}

code.highlighter-rouge {
  font-size: inherit;
}

.site-nav-fixed {
  display: flex;
  gap: math.div($spacing-unit, 2);

  @media screen and (min-width: $on-medium) {
    &:first-child {
      padding-right: math.div($spacing-unit, 2);
    }
  }

  .page-link {
    color: var(--minima-text-color);
  }
}

/** --- /Site header --- */

/** --- Site footer --- */
.site-footer {
  padding: math.div($spacing-unit, 4) 0;
  height: 50px;
}

.footer-heading {
  margin-bottom: 0;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper,
.social-links {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  @media screen and (max-width: $on-tiny) {
    flex-direction: column;
  }
}

.social-media-list {
  margin: 0 auto;

  li {
    margin: 5px 0 5px 0;

    a {
      border: unset;
    }
  }
}

.footer-col {
  margin-bottom: 0;
  width: unset;

  a {
    color: $text-color;
  }

  @media screen and (min-width: $on-tiny) {
    padding: 0 math.div($spacing-unit, 2);

    &:first-child {
      padding-right: math.div($spacing-unit, 2);
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
      padding-left: math.div($spacing-unit, 2);
    }
  }

  @media screen and (max-width: $on-tiny) {
    padding: 0 0;
  }
}

.footer-col-desc {
  text-align: right;
  margin: 0;
}

.feed-subscribe {
  // This aligns it with the right hand side.
  // Don't know how to calculate this.
  margin-bottom: 7px;
}

/** --- /Site footer --- */

.text-align-center,
.post-content p.text-align-center {
  text-align: center;
}

/**
 * Code formatting
 */
pre,
code {
  // Prevents `alerts` from messing with this.
  color: $text-color;
}

// Preserve link colors for code inside links
a code {
  color: inherit;
}

.post-navigation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.nav-previous {
  justify-self: end;
  grid-column: 2;
}

.nav-next {
  justify-self: start;
  grid-column: 1;
}

.nav-previous a, .nav-next a {
  display: flex;
  gap: 7px
}

.nav-previous a {
  text-align: right;
}

kbd {
  padding: 1px 5px;
  border: solid 1px var(--minima-border-color-02);
  border-radius: 3px;
}

// Make it so that footnotes' superscripts do not make line height different 
sup {
  vertical-align: baseline;
  position: relative;
  top: -0.5em;
  line-height: 0;
}
