/**
 * Make post links in home more compact
 */
.post-link {
	margin-bottom: $spacing-unit * 0.25;
}

img.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.text-align-center {
	text-align: center;
}

/** --- Site header --- */
.site-header {
	border-top: none;
}

.site-header-wrapper {
	display: flex;
}

.right-header-wrapper {
	margin-left: auto;
	margin-right: $spacing-unit;
	display: flex;
	align-items: center;
}

.site-title {
	float: none;
	padding: 0px $spacing-unit;
}

.theme-mode-button {
	background-color: $background-color;
	border: 0px;
	color: $text-color;
	padding: 0 0;
	padding-right: $spacing-unit;
	@media screen and (min-width: $on-medium) {
		padding-right: 0;
	}
}

.site-nav {
	@media screen and (min-width: $on-medium) {
		&:first-child {
			padding-right: $spacing-unit * 0.5;
		}
	}
}
/** --- /Site header --- */

/** --- Site footer --- */
.site-footer {
	padding: $spacing-unit * 0.25 0;
	height: 50px;
}

.footer-heading {
	margin-bottom: 0;
}

.contact-list,
.social-media-list {
	list-style: none;
	margin-left: 0;
}

.footer-col-wrapper,
.social-links {
	align-items: center;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.social-media-list {
	margin: 0 auto;
	li {
		margin: 5px 0 5px 0;
		a {
			border: unset;
		}
	}
}

.footer-col {
	margin-bottom: 0;
	padding: 0 ($spacing-unit * 0.5);
	width: unset;

	&:first-child {
		padding-right: $spacing-unit * 0.5;
		padding-left: 0;
	}

	&:last-child {
		padding-right: 0;
		padding-left: $spacing-unit * 0.5;
	}
}

.footer-col-desc {
	text-align: right;
	margin: 0;
}

.feed-subscribe {
	// This aligns it with the right hand side.
	// Don't know how to calculate this.
	margin-bottom: 7px;
}

/** --- /Site footer --- */

.post-content {
	text-align: justify;
}

/**
 * Code formatting
 */
pre,
code {
  // Prevents `alerts` from messing with this.
  color: $text-color;
}
