---
layout: base
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- else -%}
    <h1 class="page-heading">Posts tagged: {{ page.tag }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if page.tag -%}
    {% assign all_content = site.posts | concat: site.micros | sort: 'date' | reverse %}
    {% assign filtered_posts = all_content | where_exp: "post", "post.tags contains page.tag" %}
    {%- if filtered_posts.size > 0 -%}
      {% include post_list.html posts=filtered_posts %}
    {%- else -%}
      <p>No posts found with tag "{{ page.tag }}".</p>
    {%- endif -%}
  {%- else -%}
    <p>No tag specified.</p>
  {%- endif -%}
</div>
