name: nix flake check

on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - master

  schedule:
    - cron: "0 0 * * MON"

permissions:
  contents: read

# Cancel existing executions when new commits are pushed onto the branch
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1
        with: 
          persist-credentials: false
      - uses: DeterminateSystems/nix-installer-action@c5a866b6ab867e88becbed4467b93592bce69f8a # v21
      - uses: DeterminateSystems/magic-nix-cache-action@565684385bcd71bad329742eefe8d12f2e765b39 # v13
        with:
          use-flakehub: false  # Remove error when trying to authenticate without credentials
          use-gha-cache: false # Disable uploading cache to gha cache
      - run: nix flake check -L
      # This needs to run outside of nix checks because it downloads new packages (gems)
      - run: nix run '.#lock'
      - run: git diff gemset.nix  # Exit 1 if this changed
